In [1]:
import pandas as pd
import numpy as np
import plotly as py
import seaborn as sb
%matplotlib inline
import xlrd

In [2]:
ge2004 = pd.ExcelFile('GE_2004.xls')

In [3]:
ge04el = ge2004.parse('electors')

In [4]:
ge04el

,ST_CODE,ST_NAME,PC_NO,PC_NAME,PC_TYPE,MONTH,YEAR,TOT_ELECTORS,TOT_VOTERS,TOT_CONTESTANT,POLL_PERCENT
0,S01,ANDHRA PRADESH,1,Srikakulam,GEN,3,2004,958626,723948,5,75.52
1,S01,ANDHRA PRADESH,2,Parvathipuram,ST,3,2004,896336,660932,4,73.74
2,S01,ANDHRA PRADESH,3,Bobbili,GEN,3,2004,976012,747072,4,76.54
3,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,1515574,966128,10,63.75
4,S01,ANDHRA PRADESH,5,Bhadrachalam,ST,3,2004,1193297,823532,5,69.01
5,S01,ANDHRA PRADESH,6,Anakapalli,GEN,3,2004,1023113,782106,3,76.44
6,S01,ANDHRA PRADESH,7,Kakinada,GEN,3,2004,1164984,832347,7,71.45
7,S01,ANDHRA PRADESH,8,Rajahmundry,GEN,3,2004,1074223,816276,6,75.99
8,S01,ANDHRA PRADESH,9,Amalapuram,SC,3,2004,904207,704415,5,77.90
9,S01,ANDHRA PRADESH,10,Narasapur,GEN,3,2004,996175,768918,3,77.19
10,S01,ANDHRA PRADESH,11,Eluru,GEN,3,2004,1151672,896961,7,77.88
11,S01,ANDHRA PRADESH,12,Machilipatnam,GEN,3,2004,993370,755759,6,76.08
12,S01,ANDHRA PRADESH,13,Vijayawada,GEN,3,2004,1464657,945954,13,64.59
13,S01,ANDHRA PRADESH,14,Tenali,GEN,3,2004,880148,673781,7,76.55
14,S01,ANDHRA PRADESH,15,Guntur,GEN,3,2004,1172954,821761,5,70.06
15,S01,ANDHRA PRADESH,16,Bapatla,GEN,3,2004,948929,735716,5,77.53
16,S01,ANDHRA PRADESH,17,Narasaraopet,GEN,3,2004,1255040,899837,5,71.70
17,S01,ANDHRA PRADESH,18,Ongole,GEN,3,2004,1063995,799471,9,75.14
18,S01,ANDHRA PRADESH,19,Nellore,SC,3,2004,1153181,836740,9,72.56
19,S01,ANDHRA PRADESH,20,Tirupathi,SC,3,2004,1215573,850803,4,69.99
20,S01,ANDHRA PRADESH,21,Chittoor,GEN,3,2004,1170325,876594,6,74.90
21,S01,ANDHRA PRADESH,22,Rajampet,GEN,3,2004,991369,691589,5,69.76
22,S01,ANDHRA PRADESH,23,Cuddapah,GEN,3,2004,1143505,819757,15,71.69
23,S01,ANDHRA PRADESH,24,Hindupur,GEN,3,2004,1179211,868270,4,73.63
24,S01,ANDHRA PRADESH,25,Anantapur,GEN,3,2004,1280923,876376,7,68.42
25,S01,ANDHRA PRADESH,26,Kurnool,GEN,3,2004,1310724,818997,10,62.48
26,S01,ANDHRA PRADESH,27,Nandyal,GEN,3,2004,1182240,830501,9,70.25
27,S01,ANDHRA PRADESH,28,Nagarkurnool,SC,3,2004,1296544,883683,5,68.16
28,S01,ANDHRA PRADESH,29,Mahabubnagar,GEN,3,2004,1365922,866780,5,63.46
29,S01,ANDHRA PRADESH,30,Hyderabad,GEN,3,2004,1770725,986801,10,55.73
...,...,...,...,...,...,...,...,...,...,...,...
513,S27,JHARKHAND,3,Godda,GEN,3,2004,1338939,831362,12,62.09
514,S27,JHARKHAND,4,Chatra,GEN,3,2004,978364,435516,16,44.51
515,S27,JHARKHAND,5,Kodarma,GEN,3,2004,1325734,825714,10,62.28
516,S27,JHARKHAND,6,Giridih,GEN,3,2004,1312691,714378,12,54.42
517,S27,JHARKHAND,7,Dhanbad,GEN,3,2004,1749456,941755,19,53.83
518,S27,JHARKHAND,8,Ranchi,GEN,3,2004,1379179,696366,19,50.49
519,S27,JHARKHAND,9,Jamshedpur,GEN,3,2004,1372125,776529,16,56.59
520,S27,JHARKHAND,10,Singhbhum,ST,3,2004,919728,520183,8,56.56
521,S27,JHARKHAND,11,Khunti,ST,3,2004,904846,490772,11,54.24
522,S27,JHARKHAND,12,Lohardaga,ST,3,2004,906666,467522,13,51.56
523,S27,JHARKHAND,13,Palamau,SC,3,2004,1289313,641567,14,49.76
524,S27,JHARKHAND,14,Hazaribagh,GEN,3,2004,1180058,705446,14,59.78
525,S28,UTTARANCHAL,1,Tehri Garhwal,GEN,3,2004,1292454,561439,12,43.44
526,S28,UTTARANCHAL,2,Garhwal,GEN,3,2004,1081299,504078,9,46.62
527,S28,UTTARANCHAL,3,Almora,GEN,3,2004,1012756,505223,9,49.89
528,S28,UTTARANCHAL,4,Nainital,GEN,3,2004,1261688,616725,15,48.88
529,S28,UTTARANCHAL,5,Hardwar,SC,3,2004,914440,486367,9,53.19
530,U01,ANDAMAN & NICOBAR ISLANDS,1,Andaman & Nicobar Islands,GEN,3,2004,241645,153841,12,63.66
531,U02,CHANDIGARH,1,Chandigarh,GEN,3,2004,527684,269849,17,51.14
532,U03,DADRA & NAGAR HAVELI,1,Dadra & Nagar Haveli,ST,3,2004,122681,84703,10,69.04
533,U04,DAMAN & DIU,1,Daman And Diu,GEN,3,2004,79232,55591,3,70.16
534,U05,NATIONAL CAPITAL TERRITORY OF DELHI,1,New Delhi,GEN,3,2004,455114,202940,15,44.59
535,U05,NATIONAL CAPITAL TERRITORY OF DELHI,2,South Delhi,GEN,3,2004,1018862,478988,16,47.01
536,U05,NATIONAL CAPITAL TERRITORY OF DELHI,3,Outer Delhi,GEN,3,2004,3368399,1553866,28,46.13
537,U05,NATIONAL CAPITAL TERRITORY OF DELHI,4,East Delhi,GEN,3,2004,2606589,1190896,26,45.69
538,U05,NATIONAL CAPITAL TERRITORY OF DELHI,5,Chandni Chowk,GEN,3,2004,337462,179009,15,53.05
539,U05,NATIONAL CAPITAL TERRITORY OF DELHI,6,Delhi Sadar,GEN,3,2004,471813,271554,15,57.56
540,U05,NATIONAL CAPITAL TERRITORY OF DELHI,7,Karol Bagh,SC,3,2004,505236,249190,14,49.32
541,U06,LAKSHADWEEP,1,Lakshadweep,ST,3,2004,39033,31820,4,81.52
542,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,636667,484336,21,76.07

In [5]:
ge04el.columns

Index(['ST_CODE', 'ST_NAME', 'PC_NO', 'PC_NAME', 'PC_TYPE', 'MONTH', 'YEAR',
       'TOT_ELECTORS', 'TOT_VOTERS', 'TOT_CONTESTANT', 'POLL_PERCENT'],
      dtype='object')

In [6]:
s2004 = pd.pivot_table(ge04el,index='ST_NAME',values=['TOT_VOTERS', 'TOT_ELECTORS', 'TOT_CONTESTANT'],aggfunc=sum)

In [7]:
s2004['POLL_PERC in %']=(s2004['TOT_VOTERS']/s2004['TOT_ELECTORS']*100)

In [8]:
s2004

,TOT_CONTESTANT,TOT_ELECTORS,TOT_VOTERS,POLL_PERC in %
ST_NAME,,,,
ANDAMAN & NICOBAR ISLANDS,12,241645,153841,63.664053
ANDHRA PRADESH,279,51146342,35776275,69.948844
ARUNACHAL PRADESH,13,684034,385446,56.348953
ASSAM,116,15014874,10377354,69.113827
BIHAR,462,50559672,29332306,58.015222
CHANDIGARH,17,527684,269849,51.138371
CHHATTISGARH,102,13719442,7146189,52.088044
DADRA & NAGAR HAVELI,10,122681,84703,69.043291
DAMAN & DIU,3,79232,55591,70.162308
GOA,16,941167,553105,58.767998
GUJARAT,162,33675062,15213501,45.177351
HARYANA,160,12320557,8097064,65.719951
HIMACHAL PRADESH,23,4181995,2497149,59.711908
JAMMU & KASHMIR,83,6368115,2241729,35.202395
JHARKHAND,182,16812339,9363363,55.693399
KARNATAKA,172,38592095,25139122,65.140599
KERALA,177,21125473,15093960,71.449098
LAKSHADWEEP,4,39033,31820,81.520764
MADHYA PRADESH,294,38390101,18463451,48.094302
MAHARASHTRA,412,63012208,34263317,54.375681
MANIPUR,12,1536510,1035696,67.405744
MEGHALAYA,5,1289374,679321,52.686110
MIZORAM,3,549959,349799,63.604560
NAGALAND,5,1041433,955690,91.766825
NATIONAL CAPITAL TERRITORY OF DELHI,129,8763475,4126443,47.086835
ORISSA,100,25651989,16945092,66.057614
PONDICHERRY,21,636667,484336,76.073677
PUNJAB,142,16615399,10233165,61.588440
RAJASTHAN,185,34712385,17346549,49.972219
SIKKIM,4,281937,219769,77.949684
TAMIL NADU,571,47252271,28732954,60.807562
TRIPURA,12,1978222,1327000,67.080439
UTTAR PRADESH,1138,110624490,53278071,48.161190
UTTARANCHAL,54,5562637,2673832,48.067706
WEST BENGAL,355,47437431,37021478,78.042755

In [9]:
ge04cw = ge2004.parse('cand_wise')

In [12]:
ge04cw.columns = ge04cw.iloc[3]
ge04cw.reindex(ge04cw.index.drop(3))

3,ST_CODE,ST_NAME,PC_NO,PC_NAME,PC_TYPE,MONTH,YEAR,CAND_NAME,CAND_SEX,CAND_CATEGORY,PARTYABBRE,TOTVOTPOLL,POSITION
0,GENERAL ELECTION 2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CANDIDATE WISE RESULT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,S01,ANDHRA PRADESH,1,Srikakulam,GEN,3,2004,YERRANNAIDU KINJARAPU,M,GEN,TDP,361906,1
5,S01,ANDHRA PRADESH,1,Srikakulam,GEN,3,2004,KILLI KRUPARANI,F,GEN,INC,330027,2
6,S01,ANDHRA PRADESH,1,Srikakulam,GEN,3,2004,DUNGA RANGARAO NAIDU,M,GEN,IND,13848,3
7,S01,ANDHRA PRADESH,1,Srikakulam,GEN,3,2004,MYLAPALLI LAKSHMUDU,M,GEN,BSP,13011,4
8,S01,ANDHRA PRADESH,1,Srikakulam,GEN,3,2004,TAMMINENI JAGANMOHAN RAO,M,GEN,IND,4982,5
9,S01,ANDHRA PRADESH,2,Parvathipuram,ST,3,2004,KISHORE CHANDRA SURYANARAYANA DEO VYRICHERLA,M,ST,INC,321788,1
10,S01,ANDHRA PRADESH,2,Parvathipuram,ST,3,2004,DADICHILUKA VEERA GOURI SANKARA RAO,M,ST,TDP,314370,2
11,S01,ANDHRA PRADESH,2,Parvathipuram,ST,3,2004,UOOYAKA MUTYALU,M,ST,IND,13896,3
12,S01,ANDHRA PRADESH,2,Parvathipuram,ST,3,2004,ARIKA GUMPASWAMY,M,ST,IND,10869,4
13,S01,ANDHRA PRADESH,3,Bobbili,GEN,3,2004,KONDAPALLI PYDITHALLI NAIDU,M,GEN,TDP,373922,1
14,S01,ANDHRA PRADESH,3,Bobbili,GEN,3,2004,JHANSI BOTCHA,F,GEN,INC,342574,2
15,S01,ANDHRA PRADESH,3,Bobbili,GEN,3,2004,PEDDINTI JAGANMOHAN RAO,M,GEN,IND,16098,3
16,S01,ANDHRA PRADESH,3,Bobbili,GEN,3,2004,G.VENKATESH,M,SC,TRS,14131,4
17,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,JANARDHANA REDDY NEDURUMALLI,M,GEN,INC,524122,1
18,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,DR.M.V.V.S.MURTHY,M,GEN,TDP,393551,2
19,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,KOLAVENTI SUNDARA RAO,M,GEN,BSP,16673,3
20,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,BHARANIKANA RAMA RAO,M,GEN,IND,11002,4
21,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,MANDEM SUBHASH CHANDRA BOSE YADAV,M,GEN,SP,5685,5
22,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,SATYANARAYANA MACHIRAJU,M,GEN,IND,5602,6
23,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,VAMSI KIRAN.B,M,GEN,PPOI,2920,7
24,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,S.V.B.REDDY,M,GEN,IND,2358,8
25,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,MAMIDI SOMUNAIDU,M,GEN,RJD,2018,9
26,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,APPARAO GUDIVADA,M,GEN,IND,1809,10
27,S01,ANDHRA PRADESH,5,Bhadrachalam,ST,3,2004,MIDIYAM BABU RAO,M,ST,CPM,373148,1
28,S01,ANDHRA PRADESH,5,Bhadrachalam,ST,3,2004,SMT.KPRK PHANEESWARAMMA,F,ST,TDP,319342,2
29,S01,ANDHRA PRADESH,5,Bhadrachalam,ST,3,2004,JANNI APPA RAO,M,ST,BSP,71978,3
30,S01,ANDHRA PRADESH,5,Bhadrachalam,ST,3,2004,KETCHELA RANGA REDDI,M,ST,IND,38219,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5409,U05,NATIONAL CAPITAL TERRITORY OF DELHI,7,Karol Bagh,SC,3,2004,DR. P.L. PREMI,M,SC,IND,137,10
5410,U05,NATIONAL CAPITAL TERRITORY OF DELHI,7,Karol Bagh,SC,3,2004,RAM BAHAU RAWAT,M,SC,RSBP,122,11
5411,U05,NATIONAL CAPITAL TERRITORY OF DELHI,7,Karol Bagh,SC,3,2004,BABU LAL,M,SC,IND,122,12
5412,U05,NATIONAL CAPITAL TERRITORY OF DELHI,7,Karol Bagh,SC,3,2004,PRASHOTTAM DASS GUGRODIYA,M,SC,IND,81,13
5413,U05,NATIONAL CAPITAL TERRITORY OF DELHI,7,Karol Bagh,SC,3,2004,PALUSKAR KRHISHANARAO,M,SC,IND,74,14
5414,U06,LAKSHADWEEP,1,Lakshadweep,ST,3,2004,DR. P. POOKUNHIKOYA,M,ST,JD(U),15597,1
5415,U06,LAKSHADWEEP,1,Lakshadweep,ST,3,2004,P. M. SAYEED,M,ST,INC,15526,2
5416,U06,LAKSHADWEEP,1,Lakshadweep,ST,3,2004,E. P. ATTAKOYA THANGAL,M,ST,JP,468,3
5417,U06,LAKSHADWEEP,1,Lakshadweep,ST,3,2004,AMEER PUTHIYATHANODA,M,ST,SP,229,4
5418,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,RAMADASS. M.,M,GEN,PMK,241653,1
5419,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,LALITHA KUMARAMANGALAM,F,GEN,BJP,172472,2
5420,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,K. NAMBIYAR,M,GEN,JD(U),27546,3
5421,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,P. R. N. THIRUMURUGAN,M,GEN,IND,10930,4
5422,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,Z. M. TAHER,M,GEN,IND,5175,5
5423,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,THANGA DEVADAS,M,SC,IND,4085,6
5424,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,S. SYAD FARUK,M,GEN,IND,3172,7
5425,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,M. RANGADAS,M,SC,IND,2891,8
5426,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,THANGA KALAIMARAN,M,SC,BSP,2665,9
5427,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,P. ANBURAJ,M,GEN,IND,1684,10
5428,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,S. PONNURANGAM,M,GEN,JP,1601,11
5429,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,V. RAMAMURTHY,M,GEN,IND,1571,12
5430,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,S. BALASUBRAMANIAN,M,GEN,CPI(ML)(L),1359,13
5431,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,G. SUNDARAMOORTHY,M,GEN,RJD,1328,14
5432,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,N. SABITH,M,GEN,IND,1158,15
5433,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,N. SENTHILMURUGAN,M,GEN,IND,977,16
5434,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,E. KUPPAN,M,GEN,IND,906,17
5435,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,J. RAMADASS,M,GEN,IND,894,18
5436,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,S. ELANGOVAN,M,GEN,IND,673,19
5437,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,G. KRISHNARAJ,M,GEN,IND,556,20
5438,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,R. NATARAJAN,M,GEN,IND,520,21

In [13]:
ge04cw.drop(0, inplace = True)
ge04cw.drop(1, inplace = True)
ge04cw.drop(2, inplace = True)
ge04cw.drop(3, inplace = True)

In [15]:
ge04cw.reset_index(inplace=True)

In [16]:
del ge04cw['index']

In [17]:
ge04cw

3,ST_CODE,ST_NAME,PC_NO,PC_NAME,PC_TYPE,MONTH,YEAR,CAND_NAME,CAND_SEX,CAND_CATEGORY,PARTYABBRE,TOTVOTPOLL,POSITION
0,S01,ANDHRA PRADESH,1,Srikakulam,GEN,3,2004,YERRANNAIDU KINJARAPU,M,GEN,TDP,361906,1
1,S01,ANDHRA PRADESH,1,Srikakulam,GEN,3,2004,KILLI KRUPARANI,F,GEN,INC,330027,2
2,S01,ANDHRA PRADESH,1,Srikakulam,GEN,3,2004,DUNGA RANGARAO NAIDU,M,GEN,IND,13848,3
3,S01,ANDHRA PRADESH,1,Srikakulam,GEN,3,2004,MYLAPALLI LAKSHMUDU,M,GEN,BSP,13011,4
4,S01,ANDHRA PRADESH,1,Srikakulam,GEN,3,2004,TAMMINENI JAGANMOHAN RAO,M,GEN,IND,4982,5
5,S01,ANDHRA PRADESH,2,Parvathipuram,ST,3,2004,KISHORE CHANDRA SURYANARAYANA DEO VYRICHERLA,M,ST,INC,321788,1
6,S01,ANDHRA PRADESH,2,Parvathipuram,ST,3,2004,DADICHILUKA VEERA GOURI SANKARA RAO,M,ST,TDP,314370,2
7,S01,ANDHRA PRADESH,2,Parvathipuram,ST,3,2004,UOOYAKA MUTYALU,M,ST,IND,13896,3
8,S01,ANDHRA PRADESH,2,Parvathipuram,ST,3,2004,ARIKA GUMPASWAMY,M,ST,IND,10869,4
9,S01,ANDHRA PRADESH,3,Bobbili,GEN,3,2004,KONDAPALLI PYDITHALLI NAIDU,M,GEN,TDP,373922,1
10,S01,ANDHRA PRADESH,3,Bobbili,GEN,3,2004,JHANSI BOTCHA,F,GEN,INC,342574,2
11,S01,ANDHRA PRADESH,3,Bobbili,GEN,3,2004,PEDDINTI JAGANMOHAN RAO,M,GEN,IND,16098,3
12,S01,ANDHRA PRADESH,3,Bobbili,GEN,3,2004,G.VENKATESH,M,SC,TRS,14131,4
13,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,JANARDHANA REDDY NEDURUMALLI,M,GEN,INC,524122,1
14,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,DR.M.V.V.S.MURTHY,M,GEN,TDP,393551,2
15,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,KOLAVENTI SUNDARA RAO,M,GEN,BSP,16673,3
16,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,BHARANIKANA RAMA RAO,M,GEN,IND,11002,4
17,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,MANDEM SUBHASH CHANDRA BOSE YADAV,M,GEN,SP,5685,5
18,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,SATYANARAYANA MACHIRAJU,M,GEN,IND,5602,6
19,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,VAMSI KIRAN.B,M,GEN,PPOI,2920,7
20,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,S.V.B.REDDY,M,GEN,IND,2358,8
21,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,MAMIDI SOMUNAIDU,M,GEN,RJD,2018,9
22,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,APPARAO GUDIVADA,M,GEN,IND,1809,10
23,S01,ANDHRA PRADESH,5,Bhadrachalam,ST,3,2004,MIDIYAM BABU RAO,M,ST,CPM,373148,1
24,S01,ANDHRA PRADESH,5,Bhadrachalam,ST,3,2004,SMT.KPRK PHANEESWARAMMA,F,ST,TDP,319342,2
25,S01,ANDHRA PRADESH,5,Bhadrachalam,ST,3,2004,JANNI APPA RAO,M,ST,BSP,71978,3
26,S01,ANDHRA PRADESH,5,Bhadrachalam,ST,3,2004,KETCHELA RANGA REDDI,M,ST,IND,38219,4
27,S01,ANDHRA PRADESH,5,Bhadrachalam,ST,3,2004,MADAKAM BHEEMA RAJU,M,ST,MCPI(S),20728,5
28,S01,ANDHRA PRADESH,6,Anakapalli,GEN,3,2004,CHALAPATHIRAO PAPPALA,M,GEN,TDP,385406,1
29,S01,ANDHRA PRADESH,6,Anakapalli,GEN,3,2004,NANDA GOPAL GANDHAM,M,GEN,INC,369992,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5405,U05,NATIONAL CAPITAL TERRITORY OF DELHI,7,Karol Bagh,SC,3,2004,DR. P.L. PREMI,M,SC,IND,137,10
5406,U05,NATIONAL CAPITAL TERRITORY OF DELHI,7,Karol Bagh,SC,3,2004,RAM BAHAU RAWAT,M,SC,RSBP,122,11
5407,U05,NATIONAL CAPITAL TERRITORY OF DELHI,7,Karol Bagh,SC,3,2004,BABU LAL,M,SC,IND,122,12
5408,U05,NATIONAL CAPITAL TERRITORY OF DELHI,7,Karol Bagh,SC,3,2004,PRASHOTTAM DASS GUGRODIYA,M,SC,IND,81,13
5409,U05,NATIONAL CAPITAL TERRITORY OF DELHI,7,Karol Bagh,SC,3,2004,PALUSKAR KRHISHANARAO,M,SC,IND,74,14
5410,U06,LAKSHADWEEP,1,Lakshadweep,ST,3,2004,DR. P. POOKUNHIKOYA,M,ST,JD(U),15597,1
5411,U06,LAKSHADWEEP,1,Lakshadweep,ST,3,2004,P. M. SAYEED,M,ST,INC,15526,2
5412,U06,LAKSHADWEEP,1,Lakshadweep,ST,3,2004,E. P. ATTAKOYA THANGAL,M,ST,JP,468,3
5413,U06,LAKSHADWEEP,1,Lakshadweep,ST,3,2004,AMEER PUTHIYATHANODA,M,ST,SP,229,4
5414,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,RAMADASS. M.,M,GEN,PMK,241653,1
5415,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,LALITHA KUMARAMANGALAM,F,GEN,BJP,172472,2
5416,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,K. NAMBIYAR,M,GEN,JD(U),27546,3
5417,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,P. R. N. THIRUMURUGAN,M,GEN,IND,10930,4
5418,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,Z. M. TAHER,M,GEN,IND,5175,5
5419,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,THANGA DEVADAS,M,SC,IND,4085,6
5420,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,S. SYAD FARUK,M,GEN,IND,3172,7
5421,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,M. RANGADAS,M,SC,IND,2891,8
5422,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,THANGA KALAIMARAN,M,SC,BSP,2665,9
5423,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,P. ANBURAJ,M,GEN,IND,1684,10
5424,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,S. PONNURANGAM,M,GEN,JP,1601,11
5425,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,V. RAMAMURTHY,M,GEN,IND,1571,12
5426,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,S. BALASUBRAMANIAN,M,GEN,CPI(ML)(L),1359,13
5427,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,G. SUNDARAMOORTHY,M,GEN,RJD,1328,14
5428,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,N. SABITH,M,GEN,IND,1158,15
5429,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,N. SENTHILMURUGAN,M,GEN,IND,977,16
5430,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,E. KUPPAN,M,GEN,IND,906,17
5431,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,J. RAMADASS,M,GEN,IND,894,18
5432,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,S. ELANGOVAN,M,GEN,IND,673,19
5433,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,G. KRISHNARAJ,M,GEN,IND,556,20
5434,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,R. NATARAJAN,M,GEN,IND,520,21

In [18]:
ge04cw.to_csv('CW2004.csv',index=False)

In [19]:
cw=pd.read_csv('CW2004.csv')

In [20]:
cw

,ST_CODE,ST_NAME,PC_NO,PC_NAME,PC_TYPE,MONTH,YEAR,CAND_NAME,CAND_SEX,CAND_CATEGORY,PARTYABBRE,TOTVOTPOLL,POSITION
0,S01,ANDHRA PRADESH,1,Srikakulam,GEN,3,2004,YERRANNAIDU KINJARAPU,M,GEN,TDP,361906,1
1,S01,ANDHRA PRADESH,1,Srikakulam,GEN,3,2004,KILLI KRUPARANI,F,GEN,INC,330027,2
2,S01,ANDHRA PRADESH,1,Srikakulam,GEN,3,2004,DUNGA RANGARAO NAIDU,M,GEN,IND,13848,3
3,S01,ANDHRA PRADESH,1,Srikakulam,GEN,3,2004,MYLAPALLI LAKSHMUDU,M,GEN,BSP,13011,4
4,S01,ANDHRA PRADESH,1,Srikakulam,GEN,3,2004,TAMMINENI JAGANMOHAN RAO,M,GEN,IND,4982,5
5,S01,ANDHRA PRADESH,2,Parvathipuram,ST,3,2004,KISHORE CHANDRA SURYANARAYANA DEO VYRICHERLA,M,ST,INC,321788,1
6,S01,ANDHRA PRADESH,2,Parvathipuram,ST,3,2004,DADICHILUKA VEERA GOURI SANKARA RAO,M,ST,TDP,314370,2
7,S01,ANDHRA PRADESH,2,Parvathipuram,ST,3,2004,UOOYAKA MUTYALU,M,ST,IND,13896,3
8,S01,ANDHRA PRADESH,2,Parvathipuram,ST,3,2004,ARIKA GUMPASWAMY,M,ST,IND,10869,4
9,S01,ANDHRA PRADESH,3,Bobbili,GEN,3,2004,KONDAPALLI PYDITHALLI NAIDU,M,GEN,TDP,373922,1
10,S01,ANDHRA PRADESH,3,Bobbili,GEN,3,2004,JHANSI BOTCHA,F,GEN,INC,342574,2
11,S01,ANDHRA PRADESH,3,Bobbili,GEN,3,2004,PEDDINTI JAGANMOHAN RAO,M,GEN,IND,16098,3
12,S01,ANDHRA PRADESH,3,Bobbili,GEN,3,2004,G.VENKATESH,M,SC,TRS,14131,4
13,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,JANARDHANA REDDY NEDURUMALLI,M,GEN,INC,524122,1
14,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,DR.M.V.V.S.MURTHY,M,GEN,TDP,393551,2
15,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,KOLAVENTI SUNDARA RAO,M,GEN,BSP,16673,3
16,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,BHARANIKANA RAMA RAO,M,GEN,IND,11002,4
17,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,MANDEM SUBHASH CHANDRA BOSE YADAV,M,GEN,SP,5685,5
18,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,SATYANARAYANA MACHIRAJU,M,GEN,IND,5602,6
19,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,VAMSI KIRAN.B,M,GEN,PPOI,2920,7
20,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,S.V.B.REDDY,M,GEN,IND,2358,8
21,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,MAMIDI SOMUNAIDU,M,GEN,RJD,2018,9
22,S01,ANDHRA PRADESH,4,Visakhapatnam,GEN,3,2004,APPARAO GUDIVADA,M,GEN,IND,1809,10
23,S01,ANDHRA PRADESH,5,Bhadrachalam,ST,3,2004,MIDIYAM BABU RAO,M,ST,CPM,373148,1
24,S01,ANDHRA PRADESH,5,Bhadrachalam,ST,3,2004,SMT.KPRK PHANEESWARAMMA,F,ST,TDP,319342,2
25,S01,ANDHRA PRADESH,5,Bhadrachalam,ST,3,2004,JANNI APPA RAO,M,ST,BSP,71978,3
26,S01,ANDHRA PRADESH,5,Bhadrachalam,ST,3,2004,KETCHELA RANGA REDDI,M,ST,IND,38219,4
27,S01,ANDHRA PRADESH,5,Bhadrachalam,ST,3,2004,MADAKAM BHEEMA RAJU,M,ST,MCPI(S),20728,5
28,S01,ANDHRA PRADESH,6,Anakapalli,GEN,3,2004,CHALAPATHIRAO PAPPALA,M,GEN,TDP,385406,1
29,S01,ANDHRA PRADESH,6,Anakapalli,GEN,3,2004,NANDA GOPAL GANDHAM,M,GEN,INC,369992,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5405,U05,NATIONAL CAPITAL TERRITORY OF DELHI,7,Karol Bagh,SC,3,2004,DR. P.L. PREMI,M,SC,IND,137,10
5406,U05,NATIONAL CAPITAL TERRITORY OF DELHI,7,Karol Bagh,SC,3,2004,RAM BAHAU RAWAT,M,SC,RSBP,122,11
5407,U05,NATIONAL CAPITAL TERRITORY OF DELHI,7,Karol Bagh,SC,3,2004,BABU LAL,M,SC,IND,122,12
5408,U05,NATIONAL CAPITAL TERRITORY OF DELHI,7,Karol Bagh,SC,3,2004,PRASHOTTAM DASS GUGRODIYA,M,SC,IND,81,13
5409,U05,NATIONAL CAPITAL TERRITORY OF DELHI,7,Karol Bagh,SC,3,2004,PALUSKAR KRHISHANARAO,M,SC,IND,74,14
5410,U06,LAKSHADWEEP,1,Lakshadweep,ST,3,2004,DR. P. POOKUNHIKOYA,M,ST,JD(U),15597,1
5411,U06,LAKSHADWEEP,1,Lakshadweep,ST,3,2004,P. M. SAYEED,M,ST,INC,15526,2
5412,U06,LAKSHADWEEP,1,Lakshadweep,ST,3,2004,E. P. ATTAKOYA THANGAL,M,ST,JP,468,3
5413,U06,LAKSHADWEEP,1,Lakshadweep,ST,3,2004,AMEER PUTHIYATHANODA,M,ST,SP,229,4
5414,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,RAMADASS. M.,M,GEN,PMK,241653,1
5415,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,LALITHA KUMARAMANGALAM,F,GEN,BJP,172472,2
5416,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,K. NAMBIYAR,M,GEN,JD(U),27546,3
5417,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,P. R. N. THIRUMURUGAN,M,GEN,IND,10930,4
5418,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,Z. M. TAHER,M,GEN,IND,5175,5
5419,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,THANGA DEVADAS,M,SC,IND,4085,6
5420,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,S. SYAD FARUK,M,GEN,IND,3172,7
5421,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,M. RANGADAS,M,SC,IND,2891,8
5422,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,THANGA KALAIMARAN,M,SC,BSP,2665,9
5423,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,P. ANBURAJ,M,GEN,IND,1684,10
5424,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,S. PONNURANGAM,M,GEN,JP,1601,11
5425,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,V. RAMAMURTHY,M,GEN,IND,1571,12
5426,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,S. BALASUBRAMANIAN,M,GEN,CPI(ML)(L),1359,13
5427,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,G. SUNDARAMOORTHY,M,GEN,RJD,1328,14
5428,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,N. SABITH,M,GEN,IND,1158,15
5429,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,N. SENTHILMURUGAN,M,GEN,IND,977,16
5430,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,E. KUPPAN,M,GEN,IND,906,17
5431,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,J. RAMADASS,M,GEN,IND,894,18
5432,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,S. ELANGOVAN,M,GEN,IND,673,19
5433,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,G. KRISHNARAJ,M,GEN,IND,556,20
5434,U07,PONDICHERRY,1,Pondicherry,GEN,3,2004,R. NATARAJAN,M,GEN,IND,520,21

In [21]:
 age = cw.pivot_table(values=['TOTVOTPOLL'],index=['ST_NAME'],columns=['CAND_SEX'], aggfunc=len)

In [22]:
age

                                    TOTVOTPOLL
CAND_SEX                                     F       M
ST_NAME
ANDAMAN & NICOBAR ISLANDS                  1.0    11.0
ANDHRA PRADESH                            21.0   258.0
ARUNACHAL PRADESH                          NaN    13.0
ASSAM                                      6.0   110.0
BIHAR                                     14.0   448.0
CHANDIGARH                                 1.0    16.0
CHHATTISGARH                              12.0    90.0
DADRA & NAGAR HAVELI                       1.0     9.0
DAMAN & DIU                                NaN     3.0
GOA                                        1.0    15.0
GUJARAT                                   11.0   151.0
HARYANA                                    8.0   152.0
HIMACHAL PRADESH                           2.0    21.0
JAMMU & KASHMIR                            4.0    79.0
JHARKHAND                                 13.0   169.0
KARNATAKA                                 10.0   162.0
KERALA                                    15.0   162.0
LAKSHADWEEP                                NaN     4.0
MADHYA PRADESH                            30.0   264.0
MAHARASHTRA                               29.0   383.0
MANIPUR                                    1.0    11.0
MEGHALAYA                                  NaN     5.0
MIZORAM                                    NaN     3.0
NAGALAND                                   NaN     5.0
NATIONAL CAPITAL TERRITORY OF DELHI       15.0   114.0
ORISSA                                     9.0    91.0
PONDICHERRY                                1.0    20.0
PUNJAB                                    10.0   132.0
RAJASTHAN                                 17.0   168.0
SIKKIM                                     NaN     4.0
TAMIL NADU                                23.0   548.0
TRIPURA                                    NaN    12.0
UTTAR PRADESH                             61.0  1077.0
UTTARANCHAL                                5.0    49.0
WEST BENGAL                               34.0   321.0

In [23]:
a=age['TOTVOTPOLL','F']
b=age['TOTVOTPOLL','M']

In [24]:
def gcd(a,b):
    if b>a:
        while b > 0:
            a, b = b, a % b
        return a
    elif a>b:
        while a > 0:
            b, a = a, b % a
        return b
    else:
        return 1

In [25]:
age.reset_index(inplace=True)

In [26]:
age.fillna(value=0)

                                      ST_NAME TOTVOTPOLL
CAND_SEX                                               F       M
0                   ANDAMAN & NICOBAR ISLANDS        1.0    11.0
1                              ANDHRA PRADESH       21.0   258.0
2                           ARUNACHAL PRADESH        0.0    13.0
3                                       ASSAM        6.0   110.0
4                                       BIHAR       14.0   448.0
5                                  CHANDIGARH        1.0    16.0
6                                CHHATTISGARH       12.0    90.0
7                        DADRA & NAGAR HAVELI        1.0     9.0
8                                 DAMAN & DIU        0.0     3.0
9                                         GOA        1.0    15.0
10                                    GUJARAT       11.0   151.0
11                                    HARYANA        8.0   152.0
12                           HIMACHAL PRADESH        2.0    21.0
13                            JAMMU & KASHMIR        4.0    79.0
14                                  JHARKHAND       13.0   169.0
15                                  KARNATAKA       10.0   162.0
16                                     KERALA       15.0   162.0
17                                LAKSHADWEEP        0.0     4.0
18                             MADHYA PRADESH       30.0   264.0
19                                MAHARASHTRA       29.0   383.0
20                                    MANIPUR        1.0    11.0
21                                  MEGHALAYA        0.0     5.0
22                                    MIZORAM        0.0     3.0
23                                   NAGALAND        0.0     5.0
24        NATIONAL CAPITAL TERRITORY OF DELHI       15.0   114.0
25                                     ORISSA        9.0    91.0
26                                PONDICHERRY        1.0    20.0
27                                     PUNJAB       10.0   132.0
28                                  RAJASTHAN       17.0   168.0
29                                     SIKKIM        0.0     4.0
30                                 TAMIL NADU       23.0   548.0
31                                    TRIPURA        0.0    12.0
32                              UTTAR PRADESH       61.0  1077.0
33                                UTTARANCHAL        5.0    49.0
34                                WEST BENGAL       34.0   321.0

In [27]:
age.columns = age.columns.get_level_values(1)

In [28]:
ca = list(age.columns)

In [29]:
ca[0]='STATE'

In [30]:
age.columns = ca

In [31]:
age

                                  STATE     F       M
0             ANDAMAN & NICOBAR ISLANDS   1.0    11.0
1                        ANDHRA PRADESH  21.0   258.0
2                     ARUNACHAL PRADESH   NaN    13.0
3                                 ASSAM   6.0   110.0
4                                 BIHAR  14.0   448.0
5                            CHANDIGARH   1.0    16.0
6                          CHHATTISGARH  12.0    90.0
7                  DADRA & NAGAR HAVELI   1.0     9.0
8                           DAMAN & DIU   NaN     3.0
9                                   GOA   1.0    15.0
10                              GUJARAT  11.0   151.0
11                              HARYANA   8.0   152.0
12                     HIMACHAL PRADESH   2.0    21.0
13                      JAMMU & KASHMIR   4.0    79.0
14                            JHARKHAND  13.0   169.0
15                            KARNATAKA  10.0   162.0
16                               KERALA  15.0   162.0
17                          LAKSHADWEEP   NaN     4.0
18                       MADHYA PRADESH  30.0   264.0
19                          MAHARASHTRA  29.0   383.0
20                              MANIPUR   1.0    11.0
21                            MEGHALAYA   NaN     5.0
22                              MIZORAM   NaN     3.0
23                             NAGALAND   NaN     5.0
24  NATIONAL CAPITAL TERRITORY OF DELHI  15.0   114.0
25                               ORISSA   9.0    91.0
26                          PONDICHERRY   1.0    20.0
27                               PUNJAB  10.0   132.0
28                            RAJASTHAN  17.0   168.0
29                               SIKKIM   NaN     4.0
30                           TAMIL NADU  23.0   548.0
31                              TRIPURA   NaN    12.0
32                        UTTAR PRADESH  61.0  1077.0
33                          UTTARANCHAL   5.0    49.0
34                          WEST BENGAL  34.0   321.0

In [32]:
x = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
for i in age.index:
    x[i] = gcd(a[i],b[i])

In [37]:
f=a/x.copy()
m=b/x.copy()

In [38]:
f=pd.Series.to_frame(f)
f.reset_index(inplace=True)

In [39]:
m=pd.Series.to_frame(m)
m.reset_index(inplace=True)

In [40]:
m.columns = m.columns.get_level_values(1)

In [41]:
ck = list(m.columns)

In [42]:
ck[0]='STATE'
ck[1]='Male_Candidates'

In [43]:
m.columns= ck

In [44]:
m

                                  STATE  Male_Candidates
0             ANDAMAN & NICOBAR ISLANDS             11.0
1                        ANDHRA PRADESH             86.0
2                     ARUNACHAL PRADESH             13.0
3                                 ASSAM             55.0
4                                 BIHAR             32.0
5                            CHANDIGARH             16.0
6                          CHHATTISGARH             15.0
7                  DADRA & NAGAR HAVELI              9.0
8                           DAMAN & DIU              3.0
9                                   GOA             15.0
10                              GUJARAT            151.0
11                              HARYANA             19.0
12                     HIMACHAL PRADESH             21.0
13                      JAMMU & KASHMIR             79.0
14                            JHARKHAND             13.0
15                            KARNATAKA             81.0
16                               KERALA             54.0
17                          LAKSHADWEEP              4.0
18                       MADHYA PRADESH             44.0
19                          MAHARASHTRA            383.0
20                              MANIPUR             11.0
21                            MEGHALAYA              5.0
22                              MIZORAM              3.0
23                             NAGALAND              5.0
24  NATIONAL CAPITAL TERRITORY OF DELHI             38.0
25                               ORISSA             91.0
26                          PONDICHERRY             20.0
27                               PUNJAB             66.0
28                            RAJASTHAN            168.0
29                               SIKKIM              4.0
30                           TAMIL NADU            548.0
31                              TRIPURA             12.0
32                        UTTAR PRADESH           1077.0
33                          UTTARANCHAL             49.0
34                          WEST BENGAL            321.0

In [45]:
f.columns = f.columns.get_level_values(1)

In [46]:
cl = list(f.columns)

In [47]:
cl[0]='STATE'
cl[1]='Female_Candidates'

In [48]:
f.columns= cl

In [49]:
o=pd.merge(age,f,on='STATE')

In [50]:
oge=pd.merge(o,m,on='STATE')

In [51]:
oge.fillna(value=0,inplace=True)

In [52]:
oge

,STATE,F,M,Female_Candidates,Male_Candidates
0,ANDAMAN & NICOBAR ISLANDS,1.0,11.0,1.0,11.0
1,ANDHRA PRADESH,21.0,258.0,7.0,86.0
2,ARUNACHAL PRADESH,0.0,13.0,0.0,13.0
3,ASSAM,6.0,110.0,3.0,55.0
4,BIHAR,14.0,448.0,1.0,32.0
5,CHANDIGARH,1.0,16.0,1.0,16.0
6,CHHATTISGARH,12.0,90.0,2.0,15.0
7,DADRA & NAGAR HAVELI,1.0,9.0,1.0,9.0
8,DAMAN & DIU,0.0,3.0,0.0,3.0
9,GOA,1.0,15.0,1.0,15.0
10,GUJARAT,11.0,151.0,11.0,151.0
11,HARYANA,8.0,152.0,1.0,19.0
12,HIMACHAL PRADESH,2.0,21.0,2.0,21.0
13,JAMMU & KASHMIR,4.0,79.0,4.0,79.0
14,JHARKHAND,13.0,169.0,1.0,13.0
15,KARNATAKA,10.0,162.0,5.0,81.0
16,KERALA,15.0,162.0,5.0,54.0
17,LAKSHADWEEP,0.0,4.0,0.0,4.0
18,MADHYA PRADESH,30.0,264.0,5.0,44.0
19,MAHARASHTRA,29.0,383.0,29.0,383.0
20,MANIPUR,1.0,11.0,1.0,11.0
21,MEGHALAYA,0.0,5.0,0.0,5.0
22,MIZORAM,0.0,3.0,0.0,3.0
23,NAGALAND,0.0,5.0,0.0,5.0
24,NATIONAL CAPITAL TERRITORY OF DELHI,15.0,114.0,5.0,38.0
25,ORISSA,9.0,91.0,9.0,91.0
26,PONDICHERRY,1.0,20.0,1.0,20.0
27,PUNJAB,10.0,132.0,5.0,66.0
28,RAJASTHAN,17.0,168.0,17.0,168.0
29,SIKKIM,0.0,4.0,0.0,4.0
30,TAMIL NADU,23.0,548.0,23.0,548.0
31,TRIPURA,0.0,12.0,0.0,12.0
32,UTTAR PRADESH,61.0,1077.0,61.0,1077.0
33,UTTARANCHAL,5.0,49.0,5.0,49.0
34,WEST BENGAL,34.0,321.0,34.0,321.0

In [53]:
oge['FtoM_ratio'] = oge['Female_Candidates'].astype(str).str.cat(oge['Male_Candidates'].astype(str), sep=' : ')

In [54]:
oge

,STATE,F,M,Female_Candidates,Male_Candidates,FtoM_ratio
0,ANDAMAN & NICOBAR ISLANDS,1.0,11.0,1.0,11.0,1.0 : 11.0
1,ANDHRA PRADESH,21.0,258.0,7.0,86.0,7.0 : 86.0
2,ARUNACHAL PRADESH,0.0,13.0,0.0,13.0,0.0 : 13.0
3,ASSAM,6.0,110.0,3.0,55.0,3.0 : 55.0
4,BIHAR,14.0,448.0,1.0,32.0,1.0 : 32.0
5,CHANDIGARH,1.0,16.0,1.0,16.0,1.0 : 16.0
6,CHHATTISGARH,12.0,90.0,2.0,15.0,2.0 : 15.0
7,DADRA & NAGAR HAVELI,1.0,9.0,1.0,9.0,1.0 : 9.0
8,DAMAN & DIU,0.0,3.0,0.0,3.0,0.0 : 3.0
9,GOA,1.0,15.0,1.0,15.0,1.0 : 15.0
10,GUJARAT,11.0,151.0,11.0,151.0,11.0 : 151.0
11,HARYANA,8.0,152.0,1.0,19.0,1.0 : 19.0
12,HIMACHAL PRADESH,2.0,21.0,2.0,21.0,2.0 : 21.0
13,JAMMU & KASHMIR,4.0,79.0,4.0,79.0,4.0 : 79.0
14,JHARKHAND,13.0,169.0,1.0,13.0,1.0 : 13.0
15,KARNATAKA,10.0,162.0,5.0,81.0,5.0 : 81.0
16,KERALA,15.0,162.0,5.0,54.0,5.0 : 54.0
17,LAKSHADWEEP,0.0,4.0,0.0,4.0,0.0 : 4.0
18,MADHYA PRADESH,30.0,264.0,5.0,44.0,5.0 : 44.0
19,MAHARASHTRA,29.0,383.0,29.0,383.0,29.0 : 383.0
20,MANIPUR,1.0,11.0,1.0,11.0,1.0 : 11.0
21,MEGHALAYA,0.0,5.0,0.0,5.0,0.0 : 5.0
22,MIZORAM,0.0,3.0,0.0,3.0,0.0 : 3.0
23,NAGALAND,0.0,5.0,0.0,5.0,0.0 : 5.0
24,NATIONAL CAPITAL TERRITORY OF DELHI,15.0,114.0,5.0,38.0,5.0 : 38.0
25,ORISSA,9.0,91.0,9.0,91.0,9.0 : 91.0
26,PONDICHERRY,1.0,20.0,1.0,20.0,1.0 : 20.0
27,PUNJAB,10.0,132.0,5.0,66.0,5.0 : 66.0
28,RAJASTHAN,17.0,168.0,17.0,168.0,17.0 : 168.0
29,SIKKIM,0.0,4.0,0.0,4.0,0.0 : 4.0
30,TAMIL NADU,23.0,548.0,23.0,548.0,23.0 : 548.0
31,TRIPURA,0.0,12.0,0.0,12.0,0.0 : 12.0
32,UTTAR PRADESH,61.0,1077.0,61.0,1077.0,61.0 : 1077.0
33,UTTARANCHAL,5.0,49.0,5.0,49.0,5.0 : 49.0
34,WEST BENGAL,34.0,321.0,34.0,321.0,34.0 : 321.0

In [55]:
del oge['Female_Candidates']

In [56]:
del oge['Male_Candidates']

In [57]:
oge

                                  STATE     F       M     FtoM_ratio
0             ANDAMAN & NICOBAR ISLANDS   1.0    11.0     1.0 : 11.0
1                        ANDHRA PRADESH  21.0   258.0     7.0 : 86.0
2                     ARUNACHAL PRADESH   0.0    13.0     0.0 : 13.0
3                                 ASSAM   6.0   110.0     3.0 : 55.0
4                                 BIHAR  14.0   448.0     1.0 : 32.0
5                            CHANDIGARH   1.0    16.0     1.0 : 16.0
6                          CHHATTISGARH  12.0    90.0     2.0 : 15.0
7                  DADRA & NAGAR HAVELI   1.0     9.0      1.0 : 9.0
8                           DAMAN & DIU   0.0     3.0      0.0 : 3.0
9                                   GOA   1.0    15.0     1.0 : 15.0
10                              GUJARAT  11.0   151.0   11.0 : 151.0
11                              HARYANA   8.0   152.0     1.0 : 19.0
12                     HIMACHAL PRADESH   2.0    21.0     2.0 : 21.0
13                      JAMMU & KASHMIR   4.0    79.0     4.0 : 79.0
14                            JHARKHAND  13.0   169.0     1.0 : 13.0
15                            KARNATAKA  10.0   162.0     5.0 : 81.0
16                               KERALA  15.0   162.0     5.0 : 54.0
17                          LAKSHADWEEP   0.0     4.0      0.0 : 4.0
18                       MADHYA PRADESH  30.0   264.0     5.0 : 44.0
19                          MAHARASHTRA  29.0   383.0   29.0 : 383.0
20                              MANIPUR   1.0    11.0     1.0 : 11.0
21                            MEGHALAYA   0.0     5.0      0.0 : 5.0
22                              MIZORAM   0.0     3.0      0.0 : 3.0
23                             NAGALAND   0.0     5.0      0.0 : 5.0
24  NATIONAL CAPITAL TERRITORY OF DELHI  15.0   114.0     5.0 : 38.0
25                               ORISSA   9.0    91.0     9.0 : 91.0
26                          PONDICHERRY   1.0    20.0     1.0 : 20.0
27                               PUNJAB  10.0   132.0     5.0 : 66.0
28                            RAJASTHAN  17.0   168.0   17.0 : 168.0
29                               SIKKIM   0.0     4.0      0.0 : 4.0
30                           TAMIL NADU  23.0   548.0   23.0 : 548.0
31                              TRIPURA   0.0    12.0     0.0 : 12.0
32                        UTTAR PRADESH  61.0  1077.0  61.0 : 1077.0
33                          UTTARANCHAL   5.0    49.0     5.0 : 49.0
34                          WEST BENGAL  34.0   321.0   34.0 : 321.0

In [58]:
s2004.reset_index(inplace=True)

In [59]:
s2004.to_csv('s2004.csv',index=False)

In [60]:
s2004=pd.read_csv('s2004.csv')

In [61]:
s2004.rename(columns={'ST_NAME':'STATE'},inplace=True)

In [62]:
s2004

,STATE,TOT_CONTESTANT,TOT_ELECTORS,TOT_VOTERS,POLL_PERC in %
0,ANDAMAN & NICOBAR ISLANDS,12,241645,153841,63.664053
1,ANDHRA PRADESH,279,51146342,35776275,69.948844
2,ARUNACHAL PRADESH,13,684034,385446,56.348953
3,ASSAM,116,15014874,10377354,69.113827
4,BIHAR,462,50559672,29332306,58.015222
5,CHANDIGARH,17,527684,269849,51.138371
6,CHHATTISGARH,102,13719442,7146189,52.088044
7,DADRA & NAGAR HAVELI,10,122681,84703,69.043291
8,DAMAN & DIU,3,79232,55591,70.162308
9,GOA,16,941167,553105,58.767998
10,GUJARAT,162,33675062,15213501,45.177351
11,HARYANA,160,12320557,8097064,65.719951
12,HIMACHAL PRADESH,23,4181995,2497149,59.711908
13,JAMMU & KASHMIR,83,6368115,2241729,35.202395
14,JHARKHAND,182,16812339,9363363,55.693399
15,KARNATAKA,172,38592095,25139122,65.140599
16,KERALA,177,21125473,15093960,71.449098
17,LAKSHADWEEP,4,39033,31820,81.520764
18,MADHYA PRADESH,294,38390101,18463451,48.094302
19,MAHARASHTRA,412,63012208,34263317,54.375681
20,MANIPUR,12,1536510,1035696,67.405744
21,MEGHALAYA,5,1289374,679321,52.686110
22,MIZORAM,3,549959,349799,63.604560
23,NAGALAND,5,1041433,955690,91.766825
24,NATIONAL CAPITAL TERRITORY OF DELHI,129,8763475,4126443,47.086835
25,ORISSA,100,25651989,16945092,66.057614
26,PONDICHERRY,21,636667,484336,76.073677
27,PUNJAB,142,16615399,10233165,61.588440
28,RAJASTHAN,185,34712385,17346549,49.972219
29,SIKKIM,4,281937,219769,77.949684
30,TAMIL NADU,571,47252271,28732954,60.807562
31,TRIPURA,12,1978222,1327000,67.080439
32,UTTAR PRADESH,1138,110624490,53278071,48.161190
33,UTTARANCHAL,54,5562637,2673832,48.067706
34,WEST BENGAL,355,47437431,37021478,78.042755

In [65]:
output = pd.merge(s2004,oge,on='STATE')

In [66]:
output

,STATE,TOT_CONTESTANT,TOT_ELECTORS,TOT_VOTERS,POLL_PERC in %,F,M,FtoM_ratio
0,ANDAMAN & NICOBAR ISLANDS,12,241645,153841,63.664053,1.0,11.0,1.0 : 11.0
1,ANDHRA PRADESH,279,51146342,35776275,69.948844,21.0,258.0,7.0 : 86.0
2,ARUNACHAL PRADESH,13,684034,385446,56.348953,0.0,13.0,0.0 : 13.0
3,ASSAM,116,15014874,10377354,69.113827,6.0,110.0,3.0 : 55.0
4,BIHAR,462,50559672,29332306,58.015222,14.0,448.0,1.0 : 32.0
5,CHANDIGARH,17,527684,269849,51.138371,1.0,16.0,1.0 : 16.0
6,CHHATTISGARH,102,13719442,7146189,52.088044,12.0,90.0,2.0 : 15.0
7,DADRA & NAGAR HAVELI,10,122681,84703,69.043291,1.0,9.0,1.0 : 9.0
8,DAMAN & DIU,3,79232,55591,70.162308,0.0,3.0,0.0 : 3.0
9,GOA,16,941167,553105,58.767998,1.0,15.0,1.0 : 15.0
10,GUJARAT,162,33675062,15213501,45.177351,11.0,151.0,11.0 : 151.0
11,HARYANA,160,12320557,8097064,65.719951,8.0,152.0,1.0 : 19.0
12,HIMACHAL PRADESH,23,4181995,2497149,59.711908,2.0,21.0,2.0 : 21.0
13,JAMMU & KASHMIR,83,6368115,2241729,35.202395,4.0,79.0,4.0 : 79.0
14,JHARKHAND,182,16812339,9363363,55.693399,13.0,169.0,1.0 : 13.0
15,KARNATAKA,172,38592095,25139122,65.140599,10.0,162.0,5.0 : 81.0
16,KERALA,177,21125473,15093960,71.449098,15.0,162.0,5.0 : 54.0
17,LAKSHADWEEP,4,39033,31820,81.520764,0.0,4.0,0.0 : 4.0
18,MADHYA PRADESH,294,38390101,18463451,48.094302,30.0,264.0,5.0 : 44.0
19,MAHARASHTRA,412,63012208,34263317,54.375681,29.0,383.0,29.0 : 383.0
20,MANIPUR,12,1536510,1035696,67.405744,1.0,11.0,1.0 : 11.0
21,MEGHALAYA,5,1289374,679321,52.686110,0.0,5.0,0.0 : 5.0
22,MIZORAM,3,549959,349799,63.604560,0.0,3.0,0.0 : 3.0
23,NAGALAND,5,1041433,955690,91.766825,0.0,5.0,0.0 : 5.0
24,NATIONAL CAPITAL TERRITORY OF DELHI,129,8763475,4126443,47.086835,15.0,114.0,5.0 : 38.0
25,ORISSA,100,25651989,16945092,66.057614,9.0,91.0,9.0 : 91.0
26,PONDICHERRY,21,636667,484336,76.073677,1.0,20.0,1.0 : 20.0
27,PUNJAB,142,16615399,10233165,61.588440,10.0,132.0,5.0 : 66.0
28,RAJASTHAN,185,34712385,17346549,49.972219,17.0,168.0,17.0 : 168.0
29,SIKKIM,4,281937,219769,77.949684,0.0,4.0,0.0 : 4.0
30,TAMIL NADU,571,47252271,28732954,60.807562,23.0,548.0,23.0 : 548.0
31,TRIPURA,12,1978222,1327000,67.080439,0.0,12.0,0.0 : 12.0
32,UTTAR PRADESH,1138,110624490,53278071,48.161190,61.0,1077.0,61.0 : 1077.0
33,UTTARANCHAL,54,5562637,2673832,48.067706,5.0,49.0,5.0 : 49.0
34,WEST BENGAL,355,47437431,37021478,78.042755,34.0,321.0,34.0 : 321.0

In [67]:
output.to_csv('GE2004_detail.csv',index=False)

In [68]:
g=cw[cw['POSITION']==1].copy()

In [69]:
pp=g.pivot_table(index=['ST_NAME','PARTYABBRE'],values='TOTVOTPOLL', aggfunc=len).copy()

In [70]:
g['CAND_SEX'].value_counts()

M    498
F     45
Name: CAND_SEX, dtype: int64

In [71]:
qw = pd.DataFrame(g['CAND_SEX'].value_counts())

In [72]:
qw.reset_index(inplace=True)

In [73]:
qw.rename(columns={'index':'Indicators','CAND_SEX':'Election 2004'},inplace=True)

In [74]:
qw['Indicators'][0]= 'Male in LowerHouse'

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [75]:
qw['Indicators'][1]= 'Female in LowerHouse'

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [76]:
qw

             Indicators  Election 2004
0    Male in LowerHouse            498
1  Female in LowerHouse             45

In [83]:
ind = pd.DataFrame(g['PARTYABBRE'].describe())

In [84]:
ind

       PARTYABBRE
count         543
unique         39
top           INC
freq          145

In [85]:
ind.reset_index(inplace=True)

In [86]:
ind.rename(columns={'index':'Indicators','PARTYABBRE':'Election 2004'},inplace=True)

In [87]:
ind

  Indicators Election 2004
0      count           543
1     unique            39
2        top           INC
3       freq           145

In [88]:
ind['Indicators'][0]= 'Total seats contested for'
ind['Indicators'][1]= 'Number of Parties'
ind['Indicators'][2]= 'Party with majority'
ind['Indicators'][3]= 'Majority party eats won'

In [89]:
ind

                  Indicators Election 2004
0  Total seats contested for           543
1          Number of Parties            39
2        Party with majority           INC
3    Majority party eats won           145

In [90]:
eld = pd.read_csv('ecyw.csv')

In [91]:
todisplay=eld[['Indicators','Election 2004']].copy()

In [92]:
todisplay

                                          Indicators  Election 2004
0   India's Real GDP Growth Rates\r\r\n(Factor Cost)          8.428
1                             Agriculture growth (%)          3.074
2                                Industry growth (%)          9.162
3                                Services growth (%)          9.900
4                                   By Demand (%YoY)            NaN
5                                        Consumption          7.080
6                                Private Consumption          7.080
7                                 Public Consumption          7.220
8                      Gross Fixed Capital Formation         14.080
9           Consumption; Investments, Savings (%GDP)            NaN
10                                       Consumption         68.620
11                                 Capital Formation         35.108
12                            Gross Domestic Savings         33.858
13                                      Money Supply         18.500
14                                Bank Credit growth         27.160
15                                    Deposit growth         20.620
16                         Fiscal Indicators (% GDP)            NaN
17                           Centre's Fiscal Deficit         -3.940
18                              State Fiscal Deficit         -2.340
19                   Combined Deficit (Centre+State)         -6.280
20                         Inflation - WPI (Average)          5.900
21                                     CPI (Average)          6.040
22                                   Exports (US$bn)        134.900
23                                             % YoY         23.434
24                                   Imports (US$bn)        206.560
25                                              %YoY         31.398
26                             Trade deficit (US$bn)        -71.680
27                                Invisibles (US$bn)         58.540
28                   Current Account Deficit (US$bn)        -13.120
29                                          % to GDP         -1.220
30                           Capital Account (US$bn)         42.540
31                                             % GDP          4.200
32                   Forex Assets (exc. gold)(US$bn)        225.640
33                             External Debt (US$bn)        178.880
34                                   Short Term Debt         30.860
35                       Exchange Rate US$/Rs. -avg.         44.140

In [93]:
col1=pd.concat([todisplay,qw,ind]).reset_index()

In [94]:
del col1['index']

In [95]:
col1

                                          Indicators Election 2004
0   India's Real GDP Growth Rates\r\r\n(Factor Cost)         8.428
1                             Agriculture growth (%)         3.074
2                                Industry growth (%)         9.162
3                                Services growth (%)           9.9
4                                   By Demand (%YoY)           NaN
5                                        Consumption          7.08
6                                Private Consumption          7.08
7                                 Public Consumption          7.22
8                      Gross Fixed Capital Formation         14.08
9           Consumption; Investments, Savings (%GDP)           NaN
10                                       Consumption         68.62
11                                 Capital Formation        35.108
12                            Gross Domestic Savings        33.858
13                                      Money Supply          18.5
14                                Bank Credit growth         27.16
15                                    Deposit growth         20.62
16                         Fiscal Indicators (% GDP)           NaN
17                           Centre's Fiscal Deficit         -3.94
18                              State Fiscal Deficit         -2.34
19                   Combined Deficit (Centre+State)         -6.28
20                         Inflation - WPI (Average)           5.9
21                                     CPI (Average)          6.04
22                                   Exports (US$bn)         134.9
23                                             % YoY        23.434
24                                   Imports (US$bn)        206.56
25                                              %YoY        31.398
26                             Trade deficit (US$bn)        -71.68
27                                Invisibles (US$bn)         58.54
28                   Current Account Deficit (US$bn)        -13.12
29                                          % to GDP         -1.22
30                           Capital Account (US$bn)         42.54
31                                             % GDP           4.2
32                   Forex Assets (exc. gold)(US$bn)        225.64
33                             External Debt (US$bn)        178.88
34                                   Short Term Debt         30.86
35                       Exchange Rate US$/Rs. -avg.         44.14
36                                Male in LowerHouse           498
37                              Female in LowerHouse            45
38                         Total seats contested for           543
39                                 Number of Parties            39
40                               Party with majority           INC
41                           Majority party eats won           145

In [96]:
col1.to_csv('dt2004.csv',index=False)